

.app-link-spotify {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 5px;
    border-color: #ADD8E6;
    border-style: solid
    background-image: url('');
    background-size: cover;          
    background-position: center;  
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
}


.top-navbar {
    background-color: #111111; 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-tab {
    color: #ffffff;
    padding: 15px 25px;
    font-weight: bold;
    text-decoration: none;
    background-color: #0066cc; 
    display: inline-block;
}


.games-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;                            
    padding: 40px 20px;  
    max-width: 1200px;                    
    margin: 0 auto;                       
    box-sizing: border-box;
}


.games-container a {
    text-decoration: none;
    color: #111111;          
    background-color: #ffffff;
    border: 3px solid #111111; 
    border-radius: 8px;      
    padding: 25px 15px;       
    text-align: center;
    display: block;           
    box-shadow: 4px 4px 0px #111111; 
}
