body {
    margin: 0;
    background-color: #000000;
    padding: 40px;
    font-family: 'Share Tech Mono';
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
}

.game-link {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: blue;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}
