body {
    margin: 0;
    background-color: #ADD8E6;
    padding: 40px;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
}

.game-link-cookie-clicker {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #ADD8E6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 50px;
    border-color: #000000;
    border-style: solid
}

.game-link-geometry-dash {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #ADD8E6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 50px;
    border-color: #000000;
    border-style: solid
}

.game-link-bitlife {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #ADD8E6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 50px;
    border-color: #000000;
    border-style: solid
}

.game-link-clustertruck {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #ADD8E6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 50px;
    border-color: #000000;
    border-style: solid
}

.game-link-drive-mad {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #ADD8E6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 50px;
    border-color: #000000;
    border-style: solid
}

.game-link-polytrack {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #ADD8E6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 50px;
    border-color: #000000;
    border-style: solid
}

.game-link-duck-life {
    border-radius: 50px;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    color: #ADD8E6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 50px;
    border-color: #000000;
    border-style: solid
}

.h1-text {
    text-align: center;
}
